* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding-top: 1em;
    margin-bottom: 100px;
}

nav {
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

nav > div {
    padding: 0.5em;
}

#links {
    width: 60%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

nav button {
    padding: 0.8em 1em;
    border-radius: 20px;
    border: none;
}


.flexContainerLinks {
    display: flex;
    justify-content: space-around;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.presentation {
    max-width: 750px;
    min-height: 500px;
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 0 auto;
}

.presentation > h1 {
    font-size: 50px;
    margin-bottom: 55px;
}

.presentation > p {
    line-height: 35px;
    margin-bottom: 35px;
}

.headButton {
    margin: 0px 15px;
    padding: 20px 35px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
}

.blackButton {
    background-color: black;
    color: white;
}

.heroSection {
    padding-top: 3rem;
    padding-bottom: 1rem;
}

section {
    padding-bottom: 4rem;
}

.boxed {
    max-width: 1250px;
    margin: auto;
    border: 1px dashed black;
}

.bigbox {
    width: 60%;
    min-height: 520px;
}

.bigbox > img {
    width: 100%;
}

.smallbox {
    width: 40%;
    min-height: 520px;
}

h2 {
    font-size: 40px;
    text-align: left;
}

.textBox {
    width: 300px;
    margin: 3em auto;
}

.textBox > p {
    font-size: 18px;
    line-height: 1.5em;
    margin-top: 1rem;
}

.bgGray {
    background-color: #f6f6f6;
}

#wave {
    width: 100%;
    opacity: 0.04;
    display: block;
}

.bigbox:nth-of-type(odd) {
    border-right: 2px dashed black;
}

.bigbox:nth-of-type(even) {
    border-left: 2px dashed black;
}

.greenBox {
    background-color: #228b22;
    min-height: 935px;
}

footer {
    background-color: #23272a;
    padding-top: 10px;
}

footer > .boxed {
    margin-bottom: 2rem;
}

.firstColumn, .secondColumn {
    min-height: 600px;
}

.firstColumn {
    background-color: #f08080;
    width: 30%;
    border: 1px dashed black;
}

.secondColumn {
    background-color: #20b2aa;
    width: 70%;
    border: 1px dashed white;
}

hr {
    color: white;
}

footer .flexContainer {
    display: flex;
    justify-content: flex-start;
}

.column {
    width: calc(100% / 4);
    border: 1px dashed white;
    min-height: 600px;
}

#lastbox {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
}

#logoFooter, #buttonFooter {
    background-color: #ffb6c1;
    border: 1px dashed black;
}

#lastbox {
    border: none;
    background-color: #7fffd4;
    margin-top: 1.5rem;
}