* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding-top: 1em;
    margin-bottom: 100px;
    min-height: 600px;
}

nav {
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

nav > div {
    padding: 0.5em;
}

#links {
    width: 60%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

nav button {
    padding: 0.8em 1em;
    border-radius: 20px;
    border: none;
}


.flexContainerLinks {
    display: flex;
    justify-content: space-around;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.presentation {
    max-width: 750px;
    min-height: 500px;
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 0 auto;
}

.presentation > h1 {
    font-size: 50px;
    margin-bottom: 55px;
}

.presentation > p {
    line-height: 35px;
    margin-bottom: 35px;
}

.headButton {
    margin: 0px 15px;
    padding: 20px 35px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
}

.blackButton {
    background-color: black;
    color: white;
}

.heroSection {
    padding-top: 3rem;
    padding-bottom: 1rem;
}

section {
    padding-bottom: 4rem;
}

.boxed {
    max-width: 1250px;
    margin: auto;
}

.bigbox {
    width: 60%;
    min-height: 520px;
}

.bigbox > img {
    width: 100%;
}

.smallbox {
    width: 40%;
    min-height: 520px;
}

h2 {
    font-size: 40px;
    text-align: left;
}

.textBox {
    width: 325px;
    margin: 3em auto;
}

.textBox > p {
    font-size: 18px;
    line-height: 1.5em;
    margin-top: 1rem;
}

.bgGray {
    background-color: #f6f6f6;
}

.wave {
    width: 100%;
    display: block;
    opacity: 0.04;
}

.greenBox {
    text-align: center;
    padding: auto;
}

.greenBox > h2 {
    text-align: center;
}

.greenBox > p {
    font-size: 18px;
    line-height: 1.5em;
    margin-top: 2rem;
}

.downloadBox > h3 {
    font-size: 22px;
    background-image: url(../img/stars.svg);
    padding-top: 40px;
}

.downloadBox {
    width: 530px;
    margin: auto;
}

.mainButton {
    margin: 50px auto 100px;
    padding: 20px 35px;
    font-size: 16px;
    border-radius: 50px;
    border: none;
    background-color: #8ea1e1;
    color: white;
}

#bigImg {
    width: 100%;
}

footer {
    background-color: #23272a;
    padding-top: 10px;
}

footer > .boxed {
    margin-bottom: 2rem;
}

.firstColumn, .secondColumn {
    margin-top: 80px;
    min-height: 500px;
}

.firstColumn {
    width: 30%;
}

.firstColumn > h3 {
    color: #738adc;
    font-size: 25px;
    margin-bottom: 1.5rem;
}

#logoita {
    width: 20px;
}

.secondColumn {
    width: 70%;
}

.columnTitle {
    font-weight: bold;
    color: #738adc;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.hr {
    color: white;
    max-width: 1250px;
    margin: auto;
}

footer .flexContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.column {
    width: calc(100% / 4);
    min-height: 200px;
}

.column2 {
    width: calc(100% / 4);
    min-height: 400px;
}

button:hover {
    box-shadow: -webkit-box-shadow: 1px 1px 11px 3px rgba(0,0,0,0.59); 
    box-shadow: 1px 1px 11px 3px rgba(0,0,0,0.59);
    cursor: pointer;
}
   
#lastbox {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
}

footer button {
    padding: 0.8em 1em;
    border-radius: 20px;
    border: none;
    background-color: #8ea1e1;
    color: white;
}

#lastbox {
    padding-bottom: 90px;
}